---
import ProfilePicture from "../common/ProfilePicture.astro";

interface Props {
  name: string;
  role: string;
  testimonial: string;
  image?: string;
  class?: string;
}

const { name, role, testimonial, image, class: className = "" } = Astro.props;
const defaultImage = "/images/default-avatar.jpg";
const linkedinRecommendationsLink =
  "https://www.linkedin.com/in/camilagarcia-talento/details/recommendations/?detailScreenTabIndex=0";
---

<a
  href=`${linkedinRecommendationsLink}`
  target="_blank"
  rel="noopener noreferrer"
  class={`flex flex-col h-64 bg-white rounded-lg shadow-lg p-6 hover:shadow-xl transition-shadow duration-300 cursor-pointer ${className}`}
>
  <div class="flex items-center gap-4 mb-4 shrink-0">
    <ProfilePicture src={image || defaultImage} alt={name} size="md" />
    <div>
      <h3 class="font-bold text-lg text-gray-900">{name}</h3>
      <p class="text-gray-600 text-sm">{role}</p>
    </div>
  </div>

  <p class="text-gray-700 leading-relaxed italic overflow-hidden grow">
    "{testimonial}"
  </p>
</a>
